@font-face {
  font-family: "DIN";
  src: url("DIN.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OPPOSans";
  src: url("OPPOSans.ttf");
  font-weight: normal;
  font-style: normal;
}
